/*.taskRow {
    border: 1px solid black;
}
.checkColumn {
    border-right: 1px solid black;
}
.taskTitle {
    text-align: center;
    border-right: 1px solid black;
    
}
.taskDate {
   border-right: 1px solid black;
}*/