/*.wrapper {
                padding-top: 20px;
                height: 90%;
                background-color: #9d95f6;
            }
            .information {
                height: 100px;
                text-align: center;
            }
            .notification {
                background-color: blue;
                height: 50px;

            }
            .infDiv {

                border: 1px solid black;
            }
            .main {
                background-color: white;
                height: 500px;
            }
            .btn {
                width: 100%;
            }
            #forProjects {
                background-color: #fef3d6;
                height: 450px;
            }
            .projectMenu {

                height: 30px;
                border: 1px solid black;

            }
            .menu {
                border-left: 1px solid black;
                background: #8e8585;
            }
            .projectContainer {
                height: 200px;
                margin-top: 10px;
                border: 1px solid black;
            }
            .taskMenu {
                margin-top: 10px;
                border-bottom: 1px solid black;
                background: #8e8585;
            }
            .input {
                margin-top: 10px;
                width: 50%;
            }
            .addBtn {
                width: 100%;
                margin-top: 10px;
            }
            .taskName {
                margin-left: 10px;
            }
            .taskAdd {
                margin-right: 5px;
            }
            .inputName {
                margin-left: 10px;
                width: 90%;
            }
            .inputDate {
                margin-left: 20px;
            } 
            .tasksContainer {
                height: 100px;
                margin-left: auto;
                margin-right: auto;
                background-color: tomato;
            }*/